body {
  margin: 0;
}

.wrapper {
  display: flex;
}

.image {
  border: 1px solid black;
  flex: 1;
}

img {
  height: 100px;
  width: 100px;
}

.login-area {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  flex: 2;
}

.info {
  padding-top: 100px;
  border: 1px solid blue;
  flex: 1;
}

.login-form {
  border: 1px solid green;
  flex: 1;
  justify-content: flex-start;
}

.input-form {
  border: 0;
}

input {
  box-sizing: border-box;
}

.interact {
  border: 1px solid yellow;
  flex: 1;
}